.static-nav{
    color:#18cce0;
    font-family: 'Roboto', sans-serif;
    ul{
      list-style: none;
      display: flex;
      li{
        flex: 1 auto;
        text-align: center;
        padding: 1em 0;
        cursor: pointer;
        a{
          
          text-decoration: none;
          color:#fff;
        }
      }
    }
  }
  