@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "_reset.scss";
/**
* =================
*  Custom Modules
* =================
*/
@import "./canvas.scss";
@import "./animated_typer.scss";
@import "./nav.scss";
@import "./github_card.scss";
@import "./about_me.scss";
.full-width-flex {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.card-container{
  display: flex;
  width:100%;
  justify-content: center;
}